@charset "utf-8";

.bread {
	width: 100%;
	text-align: right;
	font-weight: 500;
	/* border: 1px solid red; */
	position: relative;
	right: 5%;
	top: 15px;
	font-size: 14px;
}

.bread>a:hover {
	text-decoration: underline;
}

.bread>span {
	color: #159d99;
	font-weight: bold;
}

.contents>section {
	width: 100%;
	/* margin-bottom: 50px; */
}

.contents>section>div {
	position: relative;
	height: 600px;
	width: 100%;
	margin-top: 30px;
}

.contents>section>div>div:nth-child(1) {
	width: 100%;
	height: 600px;
	background-size: cover;
	position: absolute;
}

.contents>section>div>div:nth-child(2) {
	width: 100%;
	height: 600px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	text-align: center;
	padding: 250px 0;
	box-sizing: border-box;
}

.contents>section>div>div:nth-child(2)>h3,
.contents>section>div>div:nth-child(2)>p {
	color: #fff;
}

.contents>section>div>div:nth-child(2)>h3 {
	padding: 20px;
}

.contents>section>ul {
	width: 1200px;
	height: 300px;
}

.contents>section>ul>li {
	float: left;
	padding: 40px 0;
	box-sizing: border-box;
}

.contents>section>ul>li>img {
	width: 50px;
	margin-top: 15px;
	opacity: 0.3;
}

.contents>section>ul>li:nth-child(1),
.contents>section>ul>li:nth-child(3) {
	width: 120px;
	text-align: center;
}

.contents>section>ul>li:nth-child(2) {
	width: 960px;
	line-height: 1.8;
	font-size: 16px;
	text-align: justify;
}

.img1 {
	background-image: url(../images/help/experthome/experthome1.jpg);
}

.img2 {
	background-image: url(../images/help/experthome/experthome2.jpg);
}

.img3 {
	background-image: url(../images/help/experthome/experthome3.jpg);
}
